body {
    font-family: Roboto, sans-serif;
}

.main-title {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.main-input {

}

.l-box {
    padding: 5px;
}

.main-top-padding {
    padding: 6em;
}

.button-div {
    /*position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center
}

.button {
    width: 10em;
}

.address-input {
    width: 30em;
}
.address-div {
    text-align: center;
}