body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding: 30px;
}

.main-title {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.title {
    text-decoration: none;
}

.main-top-padding {
    padding: 6em;
}

.centered {
    text-align: center
}

.button {
    width: 10em;
}

.address-input {
    width: 30em;
}

.address-icon {
    width: 17px;
    z-index: 300;
    position: absolute;
    margin-top: 8px;
    margin-left: -25px;
}

.table {
    /*text-align: center;*/
    margin: auto;
    width: 80%;
}

.subtitle {
    font-size: 25px;
    font-weight: bolder;
}

.text {
    font-size: 20px;
    font-weight: bolder;
}

ul {
    list-style-type: square;
}

.name {
    font-size: 25px;
    font-weight:bold;
}

.position {
    font-size: 20px;
    font-style: italic;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}

.list {
    font-size: 15px;
    /*padding: 1em;*/

}

.tweet {
    width: 30px;
    /*margin-top: 10px;*/
    vertical-align: middle;
}

.fb {
    width: 20px;
    vertical-align: middle;
}