body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: white;
    padding: 30px;
}

.main-title {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.title {
    text-decoration: none;
}

.main-top-padding {
    padding: 6em;
}

.centered {
    text-align: center
}

.button {
    width: 10em;
}

.address-input {
    width: 30em;
}

.table {
    text-align: center;
    margin: auto;
    width: 80%;
}

.subtitle {
    font-size: 25px;
    font-weight: bolder;
}

.text {
    font-size: 20px;
    font-weight: bolder;
}